#########################################
# From http://doc.crates.io/config.html #
#########################################

[http]
proxy = "http://proxy.sin.sap.corp:8080"     # HTTP proxy to use for HTTP requests (defaults to none)
timeout = 80000  # Timeout for each HTTP request, in milliseconds